

<div class="variant_dropdown">
    <div class="dropdown-container">
        <span class="dropdown_text">Select a Style</span>
        {%- render 'icon' with 'arrow-down'
            , width: 12
            , direction_aware: true -%}
         <select>
    <option value="0">Select car:</option>
    <option value="1">Audi</option>
    <option value="2">BMW</option>
    <option value="3">Citroen</option>
    <option value="4">Ford</option>
    <option value="5">Honda</option>
    <option value="6">Jaguar</option>
    <option value="7">Land Rover</option>
    <option value="8">Mercedes</option>
    <option value="9">Mini</option>
    <option value="10">Nissan</option>
    <option value="11">Toyota</option>
    <option value="12">Volvo</option>
  </select>
        </div>
        {% if show_help %}
            <div class="help-contianer">
                <a href="#">Not sure?</a>
                <a href="#">View Size Charts</a>
            </div>
        {% endif %}
</div>