<div class="variant_dropdown">
    <div class="dropdown-container">
        <select class="select-option">
            <option value="">Select a Style {%  render '' %} %}</option>
            <option vlaue="">Mila</option>
            <option value="">Zali</option>
        </select>
        </div>
        {% if show_help %}
            <div class="help-contianer">
                <a href="#">Not sure?</a>
                <a href="#">View Size Charts</a>
            </div>
        {% endif %}
</div>