<cart-drawer id="my-outfit-drawer" class="cart-drawer drawer  color-scheme color-scheme--{{ color_scheme }}" initial-focus="false" handle-editor-events>
   <p class="h4" slot="header">My Outfit</p>
   
   {% comment %} {% if cart.empty? %}
    <p class="h5 text-center">{{'cart.general.empty' | t}}</p>
   {% endif %} {% endcomment %}

   
   <div class="cart-drawer__items">
      {% render 'outfit-creator-line-item', image: {{ product_image }} %}
   </div>

   <form action="{{ routes.cart_url }}" method="POST" class="cart-drawer__footer" slot="footer">
    <div class="button-group">
      {%- render 'button', type: 'submit', content: checkout_button, name: 'checkout', stretch: true -%}
      </div>
    </form>

</cart-drawer>