<product-card class="product-card" {% if reveal %}reveal-on-scroll="true"{% endif %}>

    <div class="product-card__figure">
        <a href="#" class="product-card__media">
            {}
        </a>

    </div>

</product-card>