<product-card class="product-card" {% if reveal %}reveal-on-scroll="true"{% endif %}>

    <div class="product-card__figure">
        <a href="#" class="product-card__media">
            {%  capture  product_placeholder %}product-{{ loop_index |  modulo: 6 | plus: 1 |  default: 1 }}{% endcapture %}
                {{ product_placeholder |  placeholder_svg_tag: 'product-card__image product-card__image--primary placeholder' }} 
        </a>
    </div>

    <div class="product-card__info empty:hidden">
        <div class="v-stack justify-items-center gap-1">
            <a href="#" class="product-title {% if settings.product_title_max_lines > 0 %}line-clamp{% endif %}" {% if settings.product_title_max_lines > 0 %}style="--line-clamp-count: {{ settings.product_title_max_lines }}"{% endif %}>
                {{- 'general.on_boarding.product_title' | t -}}
            </a>
            
            {%- render 'price-list-placeholder', context: 'card' -%}
        </div>
    </div>

</product-card>