<line-item class="line-item align-start">
    {% comment %} {% if image != blank and image.src != blank %}
        {{ image | image_url: width: image.width |  image_tag: loading: 'lazy', sizes: '(max-width: 699px) 70px, 120px', widths: '70, 120, 140, 210, 240, 360', class: 'line-item__media' }}
    {% endif %}  {% endcomment %}
    <img src="../assets/pants.png">
    <div class="line-item-info__container">
    <div class="line-item-info">
        <div class="v-stack justify-items-start gap2">
            <div class="v-stack justify-items-start gap-0.5">
                <p class="h3">TOP:</p>
                <p class="outfit-name-price">Anna Jacket - $399</p>
                {% if image !=blank %}
                <a href="{{ line_item.url }}" > Aqua</a>
                {% else %} 
                    <p > Aqua</p>
                {% endif %}       
                {%  render 'dropdown', 
                    show_help: true %}
            </div>

        </div>
        

    </div>
    <div>
        <button class="outfit-remove__btn">Remove</button>
    </div>
    </div>

</line-item>