{% if heading != blank %}
    <div class="outfit-collection jusfify-self-{{ text-alignment |  default: 'start'}} text-{{ text-alignment |  default: 'start' }}">
    {% if heading != blank %} 
        <div class="outfit-collection__header">
            <div>
                {% if heading != blank %}
                    <h4 class="h4">{{ heading }}</h4>
                {% endif %}
            </div>
            <div>
                <button type="button">
                    {%- render 'icon' with 'minus', width: 12, direction_aware: true -%}
                </button>
            </div>
        </div>
        <div></div>
        
    {% endif %}
    </div>
{% endif %}