{% if heading != blank %}
    <div class="section-header jusfify-self-{{ text-alignment |  default: 'start'}} text-{{ text-alignment |  default: 'start' }}">
    {% if heading != blank %} 
        <div>
        {% if heading != blank %}
            <h
        {% endif %}
        </div>
    {% endif %}

    </div>
{% endif %}