<product-card class="product-card" {% if reveal %}reveal-on-scroll="true"{% endif %}>

    <div class="product-card__figure">
        <a href="#" class="product-card__media">
            {%  capture  product_placeholder %}product-{{ loop_index |  modulo: 6 | plus: 1 |  default: 1 }}{% endcapture %}
                {{ product_placeholder |  placeholder_svg_tag: 'product-card__image product-card__image--primary placeholder' }} 
        </a>
    </div>

    <div class="product-card__info empty:hidden">
        <div class="v-stack justify-items-start gap-1">
            <a href="#" class="product" >

            </a>

    </div>

</product-card>