<line-item class="line-item align-start">
    {% if line_item.image != blank %}
        {{ line_item.image | image_url: width: line_item.image.width |  image_tag: loading: 'lazy', sizes: '(max-width: 699px) 70px, 120px', widths: '70, 120, 140, 210, 240, 360', class: 'line-item__media' }}
    {% endif %} 
    
    <div class="line-item-info">
        <div class="v-stack justify-items-start gap2">
            <div class="v-stack justify-items-start gap-1">
                <p class="h6 b">TOP:</p>
                <p class="">Anna Jacket - $399</p>
                {% if line_item.url !=blank %}
                    <a href="{{ line_item.url }}" class="h6">{{ line_item.product.title |  default line_item.title }}</a>
                {% else %} 
                    <p class="h6">{{ line_item.product.title |  default line_item.title }}</p>
                {% endif %}
                <div class="dropdown">

                </div>
                


            </div>

        </div>
        

    </div>

</line-item>