<div class="popup-container">
    <div class="overlay"></div>

<div class="popup color-scheme color-scheme--{{ color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }}" id="{{snippet_id}}" >
    <h1 class="h2 text-start">Your outfit was added to your cart!</h1>
    <div class="popup-outfit__list">
        <div><img srcset="../assets/pants.png" class="popup-product__img"></div>
        <div><img srcset="../assets/pants.png" class="popup-product__img"></div>
    </div>
    <div class="popup-btn__group">
        {% render 'button', content: 'Product to checkout', stretch: true %}
        {% render 'button', content: "Return to outfit", stretch: true  %}
    </div>

</div>

</div>