<div class="popup-container">
    <h1>Your outfit was added to your card!</h1>
    <div class="selected_outfit">
        <div><img srcset="../assets/pants.png" width="150px" height="240px"></div>
        <div><img srcset="../assets/pants.png" width="150px" height="240px"></div>
    </div>
    <div popup-btn__group>
        {% render 'button', content: 'Product to checkout', stretch: true %}
        {% render 'button', content: "Return to outfit", stretch: true %}
    </div>

</div>