<cart-drawer id="my" class="cart-drawer drawer  {% if cart.empty? %}drawer--center-body{% endif %} color-scheme color-scheme--{{ section.settings.color_scheme.id }}" initial-focus="false" handle-editor-events>
   <p class="h4" slot="header">"My Outfit"</p>
   
   {% if cart.empty? %}
    <p class="h5 text-center">{{'cart.general.empty' | t}}</p>
   {% endif %}
</cart-drawer>